<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<title>Add Recipe</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Add Recipe</title>
    <style>
          html {
          min-height: 100%;
           }
        body {
         background: linear-gradient(to bottom, #666699 0%, #ff9966 100%);
        text-align: center;
        }
        h1, h3, label {  color: linen;  }
        p { color: linen; }
        label, input { align-items: center; }
    </style>
</head>

<body>
<div th:include="fragments :: nav-bar"></div>
    <h1>Don't see anything you like on our menu?</h1>
<h3>Here at FLIGHT, you are more than welcome to carry-on your own snacks. Please feel free to enter your
favorite recipes below.</h3>


<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name of Recipe</label>
        <input class="form-control" th:field="${smoothies.name}" />
        <span th:errors="${smoothies.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="ingredients">Ingredients</label>
        <input class="form-control" th:field="${smoothies.ingredients}" />
        <span th:errors="${smoothies.ingredients}" class="error"></span>
    </div>


    <input type="submit" value="Add Recipe" />
</form>

<div th:each="ingredient: ${ingredients}">

    <b><p th:text="${ingredient}"></p></b>
    <p th:text="${ingredient.ingredients}"></p>
</div>

</body>
</html>