<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
<body>
<div>
    <h2>Uh Oh, we seem to be experiencing some Turbulence.
        Please remain calm and find your seat: </h2>
        <ul>
            <li><a th:href="@{/search}">Snacks 'n Stuff</a></li>
            <li><a th:href="@{/health}">A Topic-al Location</a></li>
            <li><a th:href="@{/recommendations}">May I make a suggestion?</a></li>
         </ul>
</div>
</body>
</html>