<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <style>
        body {
            background-color: linen;
            text-align: center;
            }

    </style>
</head>
<body>
<div>
    <h2>Uh Oh, we seem to be experiencing some Turbulence.
        Please remain calm and find your seat: </h2>

            <a th:href="@{/}" style="margin-bottom: 30px; display: block"><b>Home</b> for the Holidays</a>
            <a th:href="@{/trails}"  style="margin-bottom: 30px; display: block">Let's take a walk. We'll catch the next FLIGHT (trails)</a>
            <a th:href="@{/search}"  style="margin-bottom: 30px; display: block">Snacks 'n Stuff (recipe search)</a>
            <a th:href="@{/parktopics}"  style="margin-bottom: 30px; display: block">In-FLIGHT Entertainment (topic search)</a>
            <a th:href="@{/add}"  style="margin-bottom: 30px; display: block">Bring your own food onboard (add recipe)</a>
            <a th:href="@{/bmi}"  style="margin-bottom: 30px; display: block">Over 50lbs is a charge (BMI)</a>

</div>
</body>
</html>