<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLIGHT!</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
        background-color: linen;
        text-align: center;
        }
    </style>
</head>
<body>
     <div>
        <nav>
                <p><a href="/">Home</a></p>
                <p><a href="trails">Trails</a></p>
                <p><a href="search">Recipe Search</a></p>
                <p><a href="parktopics">Topic Search</a></p>
                <p><a href="add">Add Recipe</a></p>
                <p><a href="bmi">Body Mass Index Calculator</a></p>

        </nav>


        <h1>Welcome to FIT and LIGHT, or as we like to call it: FLIGHT!</h1>
         <p>Here at FLIGHT we believe the body is the temple and it is to be revered as such. Use this page as a resource to
             find light, healthy snacks (and maybe a cocktail or two) and workouts to fit your lifestyle. You can also search for
             helpful articles with tips/tricks for the things that you need to be successful and healthy. We're happy to have you here! Please
             stay in your seats until the light comes on. Now, let's take flight! </p>
        <img src="images/IMG_19.webp" alt="fitness class">
</div>
</body>
</html>
